@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";


@media (max-width: 900px) {
   .container__restaurante{
        display: flex;
        flex-direction: column;
        font-family: $letraCuerpo;
        width: 100%;
        padding: 0 20px;
        .celular{
            width: 100%;
        }
        .atras{
            height: 18px;
            position: relative;
            width: 14px;
        }
        .figure__restaurante{
            display: flex;
            flex-direction: row-reverse;
            gap: 7px;
            justify-content: center;
            margin-bottom: 30px;
            .logoNombre{
                height: 230px;
                width: 230px;
            }
        }
        .restaurantes0{
            display: flex;
            gap: 15px;
            height: 12%;
            margin-bottom: 40px;
            align-items: center;
            .imagen__restaurante{
                height: 80px;
            }
            .info__restaurantes0{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .nombre__restaurante0{
                    opacity: 80%;
                }
                .precio__restaurante0{
                    font-size: 12px;
                    opacity: 50%;
                }
                .detallesMenoresRestaurantes{
                    display: flex;
                    justify-content: space-between;
                    .stars0{
                        width: 90px;
                    }
                    .horarios__restaurante0{
                        font-size: 10px;
                        margin-right: 30px;
                    }
                }
            }
        }
        
        .container__restaurantes{
            margin-top: 40px;
            display: flex;
            gap: 20px;
            width: 100%;
            .btn__restaurantes{
                width: 24%;
                height: 30px;
                border-radius: 12px;
                border: none;
                background-color: $amarillo;
            }
        }
        .container__comidas{
            display: flex;
            width: 100%;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 12px;
            .info__comidas{
                display: flex;
                flex-direction: column;
                width: 47%;
                gap: 5px;
                .comidas{
                    border-radius: 13px;
                    width: 170px;
                    height: 150px;
                    object-fit: contain;
                }
            }
        }
   }
}