@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Roboto&display=swap');

// colores
$amarillo: #FFE031;
$oscuro: #414141;
$gris: #CCCCCC;
$blanco: #F2F2F2;

// tipo de letra

$letraCuerpo: 'Roboto', sans-serif;
$letraTitulo: 'Fraunces', serif;

