@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";

button {
    width: 94%;
    background-color: $main-yellow;
    margin: 0 3%;
    color: $dark-grey;
    border: none;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: 500;
}