@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";


@media (max-width: 900px) {
    .container__home{
        font-family: $letraCuerpo;
        width: 100%;
        height: 100vh;
        padding: 0 20px;
        .button__location{
            width: 70%;
            color: $oscuro;
            background-color: $amarillo;
            height: 50px;
            border-radius: 10px;
            border: none;
            position: fixed;
            bottom: 0;
            margin: 10% 15%;
            font-size: 18px;
        }
        .button__location::first-letter {
            font-size: 14px;
            color: #fff;
            background-color: rgb(27, 14, 14);
            position: relative;
            border-radius: 8px;
            padding: 8px;
          }
        .desconectar__home{
            position: relative;
            left: 45%;
            border-radius: 10px;
            border: none;
            background-color: #f73d3d;
            padding: 10px;
            color: white;
            font-weight: 100;
            bottom: 5px;
        }
        .div__home1{
            display: flex;
            gap: 5px;
            margin-top: 10px;
            .buscar{
                height: 35px;
            }
        }
        .div__home{
            display: flex;
            flex-direction: column;
            gap: 7px;
            .direccion__name{
                color: $amarillo;
                margin-top: 5px;
            }
        }
        .mySwiper1{
            margin-bottom: 20px;
        }
        .swiper-slide img{
            height: 120px;
            width: 90%;
            margin-top: 40px;
            border-radius: 15px;
        }     
        .description__cafe{
            font-size: 20px;
            opacity: 50%;
            font-family: $letraCuerpo;
            margin-top: 20px 0 50px 0;
        }
        .botones__categorias{
            display: flex;
            gap: 15px;
            width: 100%;
            margin: 22px 0;
            margin-bottom: 50px;
            .boton__categoria{
                width: 140px;
                height: 40px;
                border-radius: 8px;
                background-color: $amarillo;
                color: $oscuro;
                border: none;
            }
        }

        .container__restaurantes{
            display: flex;
            flex-direction: column;
            gap: 35px;
            .restaurantes{
                display: flex;
                gap: 20px;
                height: 21%;
                align-items: center;
                .fig__imgRestaurantes{
                    width: 30vw;
                    .img__Restaurantes{
                        width: 90%;
                        border-radius: 50px;
                    }
                }
                .restaurante__restaurantes{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .stars{
                        width: 110px;
                    }
                    .horarios__restaurante{
                        font-size: 19px;
                    }
                    .precio__restaurante{
                        font-size: 12px;
                        opacity: 50%;
                    }
                }
            }
        }
        .button__home{
            width: 95%;
            color: $oscuro;
            background-color: $amarillo;
            height: 62px;
            border-radius: 10px;
            border: none;
            margin: 10px 1px; 
            display: none;
        }

        .footer__home{
            .figure__home{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-top: 50px;
                .icono__figure{
                    height: 100%;
                }
            }

        }
        
    }
}