@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";


@media (max-width: 600px) {
    .container__plato{
        width: 100%;
        height: 100vh;
        .celular9{
            width: 100%;
            position: absolute;
        }
        .plato__container{
            width: 100%;
            height: 40%;
        }
        .plato__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .atras9{
            position: absolute;
            width: 15px;
            left: 10px;
            top: 55px;
        }

        .container__infoElegido{
            display: flex;
            width: 100%;
            padding-left: 15px;
            .elegido__desTitulo{
                display: flex;
                flex-direction: column;
                width: 88%;
                gap: 12px;
                .titulo__elelgido{
                    font-size: 25px;
                    opacity: 60%;
                }
                .descripcion__elelgido{
                    font-size: 20px;
                    opacity: 80%;
                }
            }
            .horas{
                height: 15px;
                margin-top: 5px;
            }
            .hora{
                font-size: 12px;
                width: 71px;
                margin-top: 5px;
            }
        }
        .adicion{
            font-size: 18px;
            opacity: 60%;
            margin: 15px 0;
            padding-left: 15px;
        }
        .ingredientes{
            display: flex;
            gap: 10px;
            padding-left: 15px;
            margin-bottom: 20px;
            .inputC{
                background-color: $amarillo;
            }
            .inputC:checked{
                background-color: $amarillo;
            }
            .cantidad{
                margin-left: 350px;
            }
            .cantidad{
                color: $amarillo;
            }
            .nombreIngrediente{
                font-size: 20px;
                opacity: 70%;
            }
        }
        .botones{
            width: 100%;
            display: flex;
            gap: 15px;
            padding-left: 15px;
            position: fixed;
            bottom: 40px;
            .boton__can{
                height: 40px;
                width: 130px;
                border-radius: 12px;
                border: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .btn__adicion{
                    border: none;
                    width: 10px;
                }
            }
            .boton__buy{
                height: 40px;
                width: 300px;
                border-radius: 12px;
                border: none;
                background-color: $amarillo;
            }
        }
    }
}