@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";

@media (min-width: 500px) and (max-width: 900px) {
    .dataMobile{
        width: 100%;
    }
    .title__adress{
        display: flex;
        margin-left: 5%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        .title__page{
            margin-left: 35%;
            font-family: $letraCuerpo;
        }
    }
    .form__adress{
        display: flex;
        align-items: center;
        font-family: $letraCuerpo;
        margin-left: 5%;
        margin-bottom: 1rem;
        gap: 0.8rem;
        .img{
            height: 20px;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 90%;

            .label{
                color: rgb(113, 113, 113);
                font-size: 12px;
            }
            .input{
                border: none;
                height: 1.8rem;
                font-weight:600;
                font-size: 16px;
            }
        }
    }

    .btn__adrees{
        width: 90%;
        margin-left: 5%;
        font-weight: bolder;
        color: $oscuro;
        background-color: $amarillo;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-top: 450px;
    }
}
@media(max-width: 500px){
    .dataMobile{
        width: 100%;
    }
    .title__adress{
        display: flex;
        margin-left: 5%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        .title__page{
            margin-left: 35%;
            font-family: $letraCuerpo;
        }
    }
    .form__adress{
        display: flex;
        align-items: center;
        font-family: $letraCuerpo;
        margin-left: 5%;
        margin-bottom: 1rem;
        gap: 0.8rem;
        .img{
            height: 20px;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 90%;

            .label{
                color: rgb(113, 113, 113);
                font-size: 12px;
            }
            .input{
                border: none;
                height: 1.8rem;
                font-weight:600;
                font-size: 16px;
            }
        }
    }

    .btn__adrees{
        width: 90%;
        margin-left: 5%;
        font-weight: bolder;
        color: $oscuro;
        background-color: $amarillo;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-top: 80%;
    }

}