@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";

@media (max-width: 600px) {
    .container__login{
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        align-items: center;
        font-family: $letraCuerpo;
        margin-top: 30%;
        .cel{
            position: fixed;
            top: 0;
            width: 100%;
        }
        .parrafo{
            width: 60%;
            margin-bottom: 40px;
            font-size: 15px;
        }

        .div__inputs{
            display: flex;
            justify-content: flex-start;
            width: 80%;
            gap: 10px;
            select{
                border: none;
                opacity: 50%;
                font-size: 18px;
                margin-bottom: 0;
            }
            .input__numero{
                border: none;
            }
        }

        .advertencia{
            display: flex;
            flex-direction: column;
            gap: 0;
            text-align: start;
            width: 65%;
            position: relative;
            top: 17em;
        }
        .derechos__autor{
            font-size: 10px;
        }
        .btn__autenticacion{
            height: 300px;

            .btn__next1 {
                width: 70%;
                color: $oscuro;
                background-color: $amarillo;
                height: 40px;
                border-radius: 10px;
                border: none;
                margin-top: 2rem;
            }

        }


    }
}