@import "../../assets/estilos/variables.scss";
@import "../../assets/estilos/reset.scss";

@media (min-width: 500px) and (max-width: 900px) {
    .payment__card{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 5%;
        margin-top: 1rem;
        width: 90%;
        height: 3rem;
        padding: 2%;
        background-color: rgb(249, 247, 247);
        border-radius: 10px; 
        .input{
            border: none;
            width: 88%;
            height: 2rem;
            background-color: rgb(249, 247, 247);
        }
    }
    .add__card{
        border: none;
        background-color: white;
        height: 2rem;
        font-family: $letraCuerpo;
        font-weight: bolder;
        font-size: 18px;
        position: fixed;
        bottom: 5%;
        margin-left: 45%;
        cursor: pointer;
    }
}
@media(max-width:500px){
    .payment__card{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 5%;
        margin-top: 1rem;
        width: 90%;
        height: 3rem;
        padding: 2%;
        background-color: rgb(249, 247, 247);
        border-radius: 10px; 
        .input{
            border: none;
            width: 88%;
            height: 2rem;
            background-color: rgb(249, 247, 247);
        }
    }
    .add__card{
        border: none;
        background-color: white;
        height: 2rem;
        font-family: $letraCuerpo;
        font-weight: bolder;
        font-size: 18px;
        display: flex;
        width: 90%;
        justify-content: center; 
        position: fixed;
        bottom: 5%;
        cursor: pointer;
    }

}